

<section id="section-{{ section.id }}" class="header1">
  <div class="header-wrapper">
    <div class="hamburger-menu">
      <img src="{{ 'menu.png' | asset_url }}" alt="Menu Icon">
    </div>

    <div class="mobile-menu" id="mobileMenu">
    
      <div class="close-menu-btn">
        {% render 'close-btn' %}
      </div>

      <div class="mobile-menu-wrapper">
        <div class="back-to-main-menu" style="display: none;">
          <img src="{{ 'prev.png' | asset_url }}" alt="Menu Icon" class="back-icon">
          <span>Back to Main Menu</span>
        </div>

        {% for block in section.blocks %}
          {% if block.type == 'menu_link' %}
            <div class="mobile-menu-item1">
              <a href="{{ block.settings.link_url }}" class="mobile-menu-link">
                {{ block.settings.link_text }}
                {% if block.settings.show_mega_menu %}
                  {% render 'icon-schevron' %}
                {% endif %}
              </a>
              {% if block.settings.show_mega_menu %}
                <div class="mobile-mega-menu">
                  <div class="mobile-mega-menu-columns">
                    {% for i in (1..3) %}
                      {% assign menu = 'menu' | append: i %}
                      {% if block.settings[menu] %}
                        <div class="mobile-mega-menu-column">
                          <div class="mobile-menu-header">
                            <h4 class="mobile-menu-column-title">
                              {{ block.settings[menu] }}
                            </h4>
                            <div class="plus-icon-wrapper">
                              {% render 'plus-icon' %}
                            </div>
                          </div>

                          <div class="links-container" style="display: none;">
                            {% for link in linklists[block.settings[menu]].links %}
                              <a href="{{ link.url }}">{{ link.title }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}

                    {% for i in (1..2) %}
                      {% assign image = 'image' | append: i %}
                      {% if block.settings[image] %}
                        <div class="mobile-mega-menu-image-column mega-menu-column">
                          <img src="{{ block.settings[image] | img_url: 'master' }}" alt="Image {{ i }}">
                          <p class="image-name">
                            {{
                              block.settings[image]
                              | split: '/'
                              | last
                              | remove: '.jpg'
                              | remove: '.png'
                              | remove: '.jpeg'
                            }}
                          </p>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% for block in section.blocks %}
      {% if block.type == 'header_img' %}
        <div class="shop-logo">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="Shop Logo">
        </div>
      {% endif %}
    {% endfor %}

    <div class="header-content">
      <div class="header-utilities" style="color: var(--utilities-color);">
        {% render 'search-bar' %}
        <div class="utility-wrapper">
          <div class="utility-links">
            <a href="/pages/customer-support" class="customer-support" style="color: var(--utilities-color);">
              Customer Support
            </a>
            <div class="store-locator-group">
              <img src="{{ 'location-pin.png' | asset_url }}" alt="location">
              <a href="/pages/store-locator" class="store-locator" style="color: var(--utilities-color);">
                Store Locator
              </a>
            </div>
          </div>
          <div class="utility-icons">
            <a href="{{ routes.account_login_url }}" class="profile-icon">
              <img src="{{ 'profile.png' | asset_url }}" alt="Profile Icon">
            </a>
            <a href="/cart" class="cart-icon">
              <img src="{{ 'cart.png' | asset_url }}" alt="Cart Icon">
            </a>
          </div>
        </div>
      </div>

      <div class="header-menu">
        <div class="menu-toggle">
          <img src="{{ 'menu.png' | asset_url }}" alt="Close Menu Icon">
        </div>

        {% for block in section.blocks %}
          {% if block.type == 'menu_link' %}
            <div class="menu-item">
              <a href="{{ block.settings.link_url }}" class="menu-link">{{ block.settings.link_text }}</a>

              {% if block.settings.show_mega_menu %}
                <div class="mega-menu">
                  <div class="mega-menu-columns">
                    {% for i in (1..3) %}
                      {% assign menu = 'menu' | append: i %}
                      {% assign menu_title = 'menu' | append: i %}
                      {% if block.settings[menu] %}
                        <div class="mega-menu-column">
                          <h4 class="menu-column-title">{{ block.settings[menu_title] }}</h4>
                          {% for link in linklists[block.settings[menu]].links %}
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endfor %}

                    {% for i in (1..2) %}
                      {% assign image = 'image' | append: i %}
                      {% if block.settings[image] %}
                        <div class="mega-menu-image-column mega-menu-column">
                          <img src="{{ block.settings[image] | img_url: 'master' }}" alt="Image {{ i }}">
                          <p class="image-name">
                            {{
                              block.settings[image]
                              | split: '/'
                              | last
                              | remove: '.jpg'
                              | remove: '.png'
                              | remove: '.jpeg'
                            }}
                          </p>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
 
</section>

{% schema %}
{
  "name": "Header Section",
  "max_blocks": 9,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "menu_color",
      "label": "Header Menu Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "utilities_color",
      "label": "Header Utilities Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "header_img",
      "name": "Shop Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Shop Logo"
        }
      ]
    },
    {
      "type": "menu_link",
      "name": "Menu Link",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "New Menu Item"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "label": "Show Mega Menu",
          "id": "show_mega_menu",
          "default": true
        },

        {
          "type": "link_list",
          "id": "menu1",
          "label": "Menu 1"
        },
        {
          "type": "link_list",
          "id": "menu2",
          "label": "Menu 2 "
        },
        {
          "type": "link_list",
          "id": "menu3",
          "label": "Menu 3 "
        },
        {
          "id": "image1",
          "type": "image_picker",
          "label": "Image 1"
        },
        {
          "id": "image1_name",
          "type": "text",
          "label": "Image 1 Name"
        },
        {
          "id": "image2",
          "type": "image_picker",
          "label": "Image 2"
        },
        {
          "id": "image2_name",
          "type": "text",
          "label": "Image 2 Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image",
      "blocks": [
        {
          "type": "header_img"
        },
        {
          "type": "menu_link"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  #section-{{ section.id }} {
    --background-color: {{ section.settings.bg_color }};
    --menu-color: {{ section.settings.menu_color }};
    --utilities-color: {{ section.settings.utilities_color }};
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Hamburger menu toggle
    var hamburgerMenu = document.querySelector('.hamburger-menu');
    if (hamburgerMenu) {
      hamburgerMenu.addEventListener('click', function () {
        var mobileMenu = document.getElementById('mobileMenu');
        if (mobileMenu) {
          mobileMenu.classList.toggle('show');
        }
      });
    }

    // Toggle mobile mega menu
    document.querySelectorAll('.mobile-menu-item1').forEach(function (menuItem) {
      menuItem.addEventListener('click', function (e) {
        e.preventDefault();
        var megaMenu = menuItem.querySelector('.mobile-mega-menu');
        if (megaMenu) {
          megaMenu.classList.add('show'); // Show the mega menu

          // Display the clicked mobile-menu-item1
          var menuLink = menuItem.querySelector('.mobile-menu-link');
          if (menuLink) {
            var menuHeader = megaMenu.querySelector('.mobile-mega-menu-header');
            if (!menuHeader) {
              menuHeader = document.createElement('div');
              menuHeader.classList.add('mobile-mega-menu-header');
              megaMenu.prepend(menuHeader);
            }
            menuHeader.textContent = menuLink.textContent;
          }

          var backLink = megaMenu.querySelector('.back-to-main-menu');
          if (!backLink) {
            backLink = document.createElement('div');
            backLink.classList.add('back-to-main-menu');
            backLink.innerHTML = `
            <img src="{{ 'prev.png' | asset_url }}" alt="Back" class="back-icon">
            <span>Back to Main Menu</span>
          `;
            megaMenu.prepend(backLink);

            // click event back to the main menu
            backLink.addEventListener('click', function () {
              megaMenu.classList.remove('show');
              window.scrollTo(0, 0);
            });
          }

          backLink.style.display = 'flex';
        }
      });
    });

    document.querySelectorAll('.mobile-mega-menu').forEach(function (megaMenu) {
      megaMenu.addEventListener('click', function (e) {
        e.stopPropagation(); 
      });
    });

    // close
    var closeMenuBtn = document.querySelector('.close-menu-btn'); 
    if (closeMenuBtn) {
      closeMenuBtn.addEventListener('click', function () {
        var mobileMenu = document.getElementById('mobileMenu');
        if (mobileMenu) {
          mobileMenu.classList.remove('show');
        }
      });
    }



    // Toggle links-container when mobile-menu-header is clicked
    document.querySelectorAll('.mobile-menu-header').forEach(function (header) {
      header.addEventListener('click', function (e) {
        e.stopPropagation();
        var linksContainer = header.nextElementSibling;
        if (linksContainer && linksContainer.classList.contains('links-container')) {
          // Toggle display
          var isVisible = linksContainer.style.display === 'block';
          linksContainer.style.display = isVisible ? 'none' : 'block';

          // Toggle icon
          var iconWrapper = header.querySelector('.plus-icon-wrapper');
          if (iconWrapper) {
            iconWrapper.innerHTML = isVisible ? `{% render 'plus-icon' %}` : `{% render 'minus-icon' %}`;
          }
        }
      });
    });
  });
</script>
